    
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
  </div>
  <%= form_with model: @article, local: true do |form| %>
    <table class="form_page">
    
          <p>
            <%= form.label :name %><br>
            <%= form.text_field :name,{:class=>'name' } %>
          </p>
          <p>
            <%= form.label :description %><br>
            <%= form.text_area :description ,{:class=>'description' }%>
          </p>
          <p>
            <%= form.label :category %><br>
            <%= form.select :category, [["Devotional","Devotional"], ["Historical","Historical"], ["Adventure","Adventure"], ["Kids","Kids"], ["Funny","Funny"], ["Sports","Sports"], ["Love","Love"], ["Singing","Singing"], ["Dancing","Dancing"], ["10+",10]], { prompt: "Select..." }, { class: "form-control category", required: true } %>
          </p>
          <p class="check_box">
            <%= form.check_box :checkbox, {required: true} %>
            
            Please click to confirm
          </p>
          
        <div class="row">
          <div align="left" class="col-6">
            <%= link_to 'Back', articles_path, {:class=>"btn btn-warning back"} %>
          </div>
          <div align="right" class="col-6">
            <%= form.submit :save,{:class=>"btn btn-success show_article"} %>
          </div>
        </div>
      
    <% end %>
    </table>
