<%= form_with model: @article, local: true do |form| %>
  </div>
  <table class="form_page">
    <div class="form-group">
      <%= form.label :name %><br>
      <%= form.text_field :name,{:class=>'form-control' } %>
      <p class="error_msg" ><%= @article.errors.messages[:name].first if @article.errors.messages[:name].any? %></p>
      <p><% @article.errors.full_messages.each do |msg| %></p>
        <p><% msg %></p>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.label :description %><br>
      <%= form.text_area :description ,{:class=>'form-control' }%>
      <p class="error_msg" ><%= @article.errors.messages[:description].first if @article.errors.messages[:description].any? %></p>
    </div>
    <div class="form-group">
      <div align="left"><%= form.label :category %></div>
        <%= form.select :category_id, Category.all.pluck(:name, :id), { prompt: 'Select' }, { class: "form-control" } %>
        <p class="error_msg" ><%= @article.errors.messages[:category].first if @article.errors.messages[:category].any? %></p>
    </div>
    <div class="form-group">
      <p><%= @article.author_id%></p>
      <div align="left"><%= form.label :author %></div>
        <%= form.select :author_id, Author.all.pluck(:name, :id), { prompt: 'Select' }, { class: "form-control" } %>
        <p class="error_msg" ><%= @article.errors.messages[:author].first if @article.errors.messages[:author].any? %></p>
      </div>
      <div class="form-group">
        <%= form.label :attachment%>
        <%= form.file_field :attachment,{:class=>'form-control' } %>
        <br>
        <small>PDF,PNG,JPG,PPT and GIf images are allowed</small>
      </div>
    
      <p class="check_box">
        <%= form.check_box :checkbox%>
            If you want to publish your story accept this!!
      </p>
      <p class="error_msg" ><%= @article.errors.messages[:checkbox].first if @article.errors.messages[:checkbox].any? %></p>
      <div class="row">
        <div align="left" class="col-6">
          <%= link_to 'Back', articles_path, {:class=>"btn btn-warning back"} %>
        </div>
      <div align="right" class="col-6">
        <%= form.submit :save,{:class=>"btn btn-success show_article"} %>
      </div>
    </div>
  </table>
<% end %>
    
