<body>
  <div align="right" class="col-12">
      <div class="navbar-nav">
        <a class="bg-dark text-center text-white" href="users/new"><h1 class="fa fa-fw fa-user"></h1>Create New Users </a>
      </div>
  </div>
  <div id="index_page">
    <div class="Listing">
      <h2 class="badge badge-primary Listbadge">Listing Articles</h2>
    </div>
    <div class="Listing-2">
      <%= link_to 'New article', new_article_path,{:class=>'btn btn-success show_article'} %>
      <br><br>
      <div class="row">
        <div class="column">
          <h2>Search Articles</h2>
          <p>
            <%= form_tag(articles_path,method: :get) do %>
              <%= text_field_tag :term %>
              <%= submit_tag 'search',{:class=>'btn btn-success show_article' }  %>
            <% end %>
          </p>
        </div>
        <div class="column">
          <h2>Not_function</h2>
          <p>
            <%= form_tag(articles_path,method: :get) do %>
              <%= text_field_tag :not %>
              <%= submit_tag 'search',{:class=>'btn btn-success show_article' }  %>
            <% end %>
          </p>
        </div>
        <div class="column">
          <h2>Author => Articles</h2>
          <p>
            <%= form_tag(articles_path,method: :get) do %>
              <%= text_field_tag :count %>
              <%= submit_tag 'search',{:class=>'btn btn-success show_article' }  %>
            <% end %>
          </p>
        </div>
      </div>
      <h2 class="btn-primary text-center">
        <b class="counttext">
          Total articles-
          <badge class="articlecount label label-info">
            <%= Article.count %>
          </badge>
        </b>
      </h2>
      
      <table id="customers">
        <tr>
          <th>Name of the article</th>
          <th>Description</th>
          <th>Category</th>
          <th>Author_name</th>
          <th>Article Published</th>
          <th>Published Time</th>
          <th>Download Link</th>
          <th colspan="5">Actions</th>
        </tr>
        <% @articles.each do |article| %>
        <tr>
          <td>
            <%= article.name %>
          </td>
          <td>
            <%= truncate(article.description * 100,length: 15) %>
          </td>
          <td>
            <%= article.category.name %>
          </td>
          <td>
            <%= article.author.name%>
          </td>
          <td>
            <%= article.checkbox %>
          </td>
          <td>
            <%= time_ago_in_words article.created_at%> ago
          </td>
          <td><%= link_to "Download", article.attachment_url if article.attachment_url %><i class="fa fa-fw fa-download"></i>
          </td>
          <td>
            <%= link_to 'Show', article_path(article),{:class=>'btn btn-success show_article',title: 'Show Articles' }%>
            <%= link_to 'Edit', edit_article_path(article),{:class=>'btn btn-warning edit',title: 'Edit Articles'} %>
            <%= link_to 'Destroy', '#', "data-toggle"=>"modal", "data-target" => "#delete-#{article.id}",:class=>'btn btn-danger',title: 'Destroy Articles' %>
            <div class="modal fade" id="delete-<%= article.id %>" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">Confirmation Box</button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure to delete this article</p>
                  </div>
                  <div class="modal-footer">
                    <div class="modal-footer">
                      <%= link_to 'Delete', article_path(article), method: :delete, :class => 'btn btn-danger' %>
                        <a href="#" data-dismiss="modal" class="btn btn-warning">Cancel</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>              
          </td>
        </tr>
      <% end %>
    </table>
    <br>
    <h4>Today Posted Articles=></b><%= Article.where(created_at: Date.today...Date.today+1).count %>
    </h4>
  </div>
</body>




    
    
