<body>
  <div class="container">
    <table id="customers">
      <p>
      <tr>
        <th>
          <strong>Name:</strong>
        </th>
        <td>
          <%= @article.name %>
        </td>
        </tr>

      </p>

      <p>
      <tr>
        <th>
          <strong>Description:</strong>
        </th>
        <td>
          <%= @article.description %>
        </td>
        </tr>
      </p>
      <p>
      <tr>
        <th>
          <strong>Category:</strong>
        </th>
        <td>
          <%= @article.category %>
        </td>
        <tr>
      </p>
      <p class="show_page">
      <%= link_to 'Edit', edit_article_path(@article),{:class=>'btn btn-warning edit' } %>
      
      </p><p  class="show_page-1">
      <%= link_to 'Back', articles_path,{:class=>'btn btn-warning back' } %>
      </p>
    </table>
  </div>
</body>