<header>
	<img src="333.png" class="img4"><br>
			<hgroup>
				<h1>Welcome to Smartcity</h1>
				<h3>Kakinada's Biggest Projects And Details</h3>
			</hgroup><br>
				<nav>
					<ul>
						<li>
						<%= link_to "Register",book_page_2_path %>
						</li>
						<li>
						<%= link_to "Login",book_page_3_path %>
						</li>
						
					</ul>
				</nav><br><br>
</header>
<div>
	<ul>
		<li><%= link_to "Home",book_home_path %></li>
		<li><a href="#">Projects</a>
			<ul>
				<li><a href="#">SRMT Projects</a></li>
				<li><a href="#">Port Projects</a></li>
				<li><a href="http://jntuk.com/">Juntuk Projects</a></li>
				<li><a href="#">Political projects</a></li>
				<li><a href="#">Rotary Club</a></li>	
			</ul>
		</li>
		<li><a href="#">Theaters</a>
			<ul>
				
				<li><a href="#">Inox</a></li>
				<li><a href="#">Anand Complex</a></li>
				<li><a href="#">Devi Multiplex</a></li>
				<li><a href="#">c & c</a></li>
				<li><a href="#">Mayuri</a></li>

			</ul>


		</li>
			<li><%= link_to "Services",book_services_path %></li>
			<li><%= link_to "Contact",book_contact_path %></li>
	</ul>
</div>
<div class="search-right">
	<h4 style="color:white">What are you looking for...</h4>
    <input type="text" placeholder="Search..">
</div>
<br><br>
<section>
	<h2>The total information about kakinada</h2>
	<p>
		<strong>
			Smart cities use data and technology to create efficiencies, improve sustainability, create economic development, and enhance quality of life factors for people living and working in the city. It also means that the city has a smarter energy infrastructure.
		</strong> 
	</p>
	<div class="siva">
	
		<img src="smartcity.jpg" class="img1">
		<img src="city.jpg" class="img2">
		<img src="citi.jpg" class="img3">
							
	</div>
	<p>
		<strong>
			The Smart City is and will definitely be one of the most important challenges over the next few decades. ... The mass concentration of individuals in cities creates many opportunities, but also carries with it its share of urban management problems: pollution, poverty, security, cost of living, mobility, etc.
		</strong>
	</p>
	<p>
		<strong>
			A smart city is an urban area that uses different types of electronic data collection sensors to supply information which is used to manage assets and resources efficiently. This includes data collected from citizens, devices, and assets that is processed and analyzed to monitor and manage traffic and transportation systems, power plants, water supply networks, waste management, law enforcement, information systems, schools, libraries, hospitals, and other community services.
		<strong>
	</p>
</section>
<marquee>
	Thank You For Visiting Our Website.... 
</marquee>
<footer>
	<strong>
		Copy Rights Reserved by In Kakinada.com
	</strong>
</footer>
