<div class="jumbotron" style="background-color: #463265;color: white">
    <center>
        <h1>Welcome to my shop</h1>
        <p>Please take a look at all of our coll products!</p>
    </center>
    <nav class="navbar navbar-inverse role=" navigation " style="background-color:#717ae7 ">

    	<div class="container ">
    		<h3>If you are interested in my website please post your interest</h3>
    			<%= link_to "posts ",posts_new_path,class: "navbar-brand " %></div>

	</nav>

</div>

<style type="text/css ">

	.navbar-brand{
		color: black;
		font-weight: bold;

	}
	.navbar-brand:hover{
		color: white;
		background-color: black;
		padding: 5px;
	}

</style>

<nav class="navbar navbar-inverse role="navigation" style="background-color: #717ae7">
        <%= link_to "Home",root_path,class: "navbar-brand" %>

            <%= link_to "See our bikes for sale",welcome_bikes_path,class: "navbar-brand" %>
                <%= link_to "See our gear for sale",welcome_gear_path,class: "navbar-brand" %>
                    <%= link_to "See Services we offer",welcome_services_path,class: "navbar-brand" %>
    </nav>

    <div class="container">
        <center>
            <h1>Bikes for sale</h1>
        </center>
        <p>A motorcycle, often called a bike, motorbike, or cycle, is a two- or three-wheeled motor vehicle.[1] Motorcycle design varies greatly to suit a range of different purposes: long distance travel, commuting, cruising, sport including racing, and off-road riding. Motorcycling is riding a motorcycle and related social activity such as joining a motorcycle club and attending motorcycle rallies. In 1894, Hildebrand & Wolfmüller became the first series production motorcycle, and the first to be called a motorcycle. In 2014, the three top motorcycle producers globally by volume were Honda, Yamaha (both from Japan), and Hero MotoCorp (India).[2] In developing countries, motorcycles are considered utilitarian due to lower prices and greater fuel economy. Of all the motorcycles in the world, 58% are in the Asia-Pacific and Southern and Eastern Asia regions, excluding car-centric Japan. According to the US Department of Transportation the number of fatalities per vehicle mile traveled was 37 times higher for motorcycles than for cars.[3]
        </p>
    </div>