<div class="jumbotron" style="background-color: #463265;color: white">
    <center>
        <h1>Welcome to my shop</h1>
        <p>Please take a look at all of our coll products!</p>

    </center>
    <nav class="navbar navbar-inverse role=" navigation " style="background-color:#717ae7 ">

    <div class="container ">
    <h3>If you are interested in my website please post your interest</h3>
    <%= link_to "posts ",posts_new_path,class: "navbar-brand " %></div>

    </nav>
</div>
<style type="text/css ">

    .navbar-brand{
        color: black;
        font-weight: bold;
    }
    .navbar-brand:hover{
        color: white;
        background-color: black;
        padding: 5px;
    }
</style>

<nav class="navbar navbar-inverse role="navigation" style="background-color:#717ae7">
        <%= link_to "Home",root_path,class: "navbar-brand" %>

            <%= link_to "See our bikes for sale",welcome_bikes_path,class: "navbar-brand" %>
                <%= link_to "See our gear for sale",welcome_gear_path,class: "navbar-brand" %>
                    <%= link_to "See Services we offer",welcome_services_path,class: "navbar-brand" %>
    </nav>
    <div class="container-fluid">
        <center>
            <h1><b>CONSUMER DECISION MAKING</b></h1>
        </center>
        <p>Bike is a low involvement product, which means that consumer will follow a quick decision making process. Socio culture environment Purchasing Bike involve investment of sufficient amount. So here purchase decision will be effected by society also. Opinion of family will matter a lot, if family do not like a particular brand then the consumer may not buy it. Other way of information might be from the people who are using other bikes already. They can spread positive as well as negative world of mouth and consumer will be affected by that. Reference group can also play a vital role; consumer may discuss all the alternatives with friends or colleagues. Opinion leaders in the society may affect the decision because according to consumer opinion leader is having all the information and he can give right suggestion. The process which will be followed will be:- Need recognition: first of all consumer will recognize the need. It might be he already needs a sporty look bike, need a personal mode of transportation etc. Information search: now consumer is aware of the need now he will search for information regarding all the alternatives available in the market. Information collected might be on mileage, looks, safety, price etc. He will consider Aligator as well its competitors. Evaluation of alternatives: now consumer is having sufficient information of all the available alternatives, now he will compare them on various parameters which are important for him. Attributes which might be important at the alternative evaluation stage are : Mileage Looks Price Previous performance Company image Factors that motivates purchase: Engine power Looks Safety Space Perception about the product and previous learning also play an important role. Post decision behaviour Purchase Because bike is low involvement product so consumers generally prefer to have trial drive so that they can experience all that which is promoted or promised. Then consumers make purchase decision. Post purchase evaluation Then consumer make post purchase evaluation, here they will decide whether they are satisfied or not and they will also spread world of mouth.</p>

    </div>