<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">Articles</h5>
          <p class="card-text">Search for Articles(Multiple Select Option Is Available )</p>
          <%= form_tag(articles_path,method: :get) do %>
  	  		<%= select_tag :term, options_from_collection_for_select(Article.all, :name, :name), multiple: true, class: 'multi-select' %>
  	    	<%= submit_tag 'search',{:class=>'btn btn-success show_article' } %>
  				<% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <p class="card-text">Search for users(Multiple Select Option Is Available )</p>
          <%= form_tag(users_path,method: :get) do %>
  	  		<%= select_tag :terms, options_from_collection_for_select(User.all, :name, :name), multiple: true, class: 'multi-select'  %>
  	    	<%= submit_tag 'search',{:class=>'btn btn-success show_article' } %>
  				<% end %>
   

  			</div>
      </div>
    </div>
  </div>
  <br>
  <section>
  	<h1 class="bg-dark text-white text-center">Rails-5 Application For Articles & Users</h1>
    <p><%= link_to('Logout', destroy_founder_session_path, method: :delete, :class => "btn btn-warning") %></p>
  </section>
  <br>
  <div class="row">
  	<div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>Click this image(Articles-Page)</b></h5>
          <a href="<%= articles_path %>"><%= image_tag("article.jpg", :alt => "Articles") %></a>
        </div>
      </div>
    </div>
  	<div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>Click this image(Users-Page)</b></h5>
          <a href="<%= users_path %>"><%= image_tag("user.png", :alt => "Users") %></a>
        </div>
      </div>
    </div>
  </div>
</div>


