<header class="heading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="item">
          <%= image_tag("1.jpg", :alt => "Articles") %>
        </div>
			</div>
      <div class="col-lg-6 text-center">
        <h1><b>Welcome To Articles</b></h1>
        <h2><b>Rails Application</b></h2>
      </div>
      <div class="col-lg-3">
        <div class="item">
          <%= image_tag("2.jpg", :alt => "Articles") %>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href="/users"><i class="fa fa-fw fa-user"></i>Users</a> 
  <a href="/articles"><i class="fa fa-newspaper-o"></i>Articles</a> 
  <a href="customers"><i class="fa fa-registered"></i> Register here</a>
  <a href="login"><i class="fa fa-sign-in"></i> Signin</a>
  <a href="sessions/destroy"><i class="fa fa-sign-out"></i> Signout</a>
</nav>
<div class="total">
    <div class="row">
      <div class="col-lg-3">
        <div class="articles">
          
          <p>No.of articles =>
        <%= Article.count %>
      </p>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        Welcome! The date and time is <%= Time.now %>
      </div>
      <div class="col-lg-3">
        <div class="users">
          <p>No.of users =>
        <%= User.count %>
      </p>
        </div>
      </div>
    </div>
</div>
<hr>

 
